<div class="w-10/12 ">
    <div class="p-4 text-gray-500  ">
        <div
            class="p-1 ml-12 grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-1 justify-items-center">
            <!--Card 1-->
            <div class=" rounded overflow-hidden shadow-lg">
                <img class="w-full h-full" src="{{card_image}}" alt="analytics">
            </div>
            <!--Card 2-->
            <div class="rounded overflow-hidden shadow-lg   ">
                <div class="px-6 py-4 grid justify-items-center">
                    <div class="font-bold text-xl mb-1">{{card_title}}</div>
                    <p class="text-gray-700 text-base">
                        {{card_text}}
                    </p>
                </div>


            </div>
            <!--Card 3-->
            <div class="h-60 w-70 md:mr-16  ">
                <div class="m-2   grid box-content text-center p-4 border-2 border-green-300">{{card_price}}</div>
                <button
                    class="m-3 py-2 px-10 bg-white-500 border-2 border-red-500  font-semibold rounded-lg shadow-md hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
                    {{card_add}}
                </button>
            </div>
            <section class="w-full flex flex-wrap  container border-gray border-2">
            <h4>Relacionados</h4>
                <section class="flex flex-col justify-between items-center md:w-1/2 lg:w-1/4 p-8 order-1">

                    <a href="{{product_uri}}" class="flex flex-row items-center justify-start my-1 lg:block">
                        <img src="{{product_img}}" alt="{{product_name}}">
                        <span class="item-center ml-10 md:m-0 lg:m-0">{{product_name}}</span>
                    </a>

                </section>
                <section class="flex flex-col justify-between items-center md:w-1/2 lg:w-1/4 p-8 order-1">

                    <a href="{{product_uri}}" class="flex flex-row items-center justify-start my-1 lg:block">
                        <img src="{{product_img}}" alt="{{product_name}}">
                        <span class="item-center ml-10 md:m-0 lg:m-0">{{product_name}}</span>
                    </a>

                </section>
                <section class="flex flex-col justify-between items-center md:w-1/2 lg:w-1/4 p-8 order-1">

                    <a href="{{product_uri}}" class="flex flex-row items-center justify-start my-1 lg:block">
                        <img src="{{product_img}}" alt="{{product_name}}">
                        <span class="item-center ml-10 md:m-0 lg:m-0">{{product_name}}</span>
                    </a>

                </section>
            </section>





        </div>
    </div>
</div>